.product-card {
    width: 768px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .product-form-block {
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        .input-block {
            display: flex;
            flex: 0 0 50%;
            max-width: 50%;
            flex-direction: column;
            padding: 10px;

            .error-text {
                height: 1rem;
                color: red;
                font-size: 12px;
            }
        }
    }

    .product-block-bottom {
        flex-direction: column;
        display: flex;
        align-items: center;
        .add-button-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            min-width: 70px;
            max-width: fit-content;
        }
    }
}
