.items {
    margin-top: 10px;
    .item {
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
        .img-block {
            .img {
                width: 100%;
            }
        }
        .info-block {
            padding: 0 10px;
            .name {
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                max-width: 30ch;
                text-overflow: ellipsis;
            }
            .price {
                color: #094b27;
                font-weight: 700;
            }
        }
    }
}
