.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #205AA3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}