.login-card {
    width: 768px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .login-card-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-right: 200px;
        padding-left: 200px;
        justify-content: center;
        align-items: center;

        .input-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &.email-block {
                padding: 20px;
                .email-text {
                    margin-bottom: 7px;
                }
            }
            &.password-block {
                padding: 0px 20px 0px 20px;
                .password-text {
                    margin-bottom: 7px;
                }
            }
        }
    }

    .login-card-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        .login-button-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            min-width: 70px;
            max-width: fit-content;
        }

        .register-block {
            .register-link {
                margin-left: 3px;
            }
        }
    }
}
